/**$clralertsuccess:#008000;
$clralertinfo:#CD5C5C;
$clralertadvert:#FF8C00;
$clralertdanger:#FF0000;
$clrbtn1:#CD5C5C;
$clrbtn2:#8B0000;
$clrbtnblack1:#FFFFFF;
$clrbtnblack2:#696969;
$clrbtnblue1:#FFFFFF;
$clrbtnblue2:#1E90FF;
$sizetxtbtn:1rem;
$clrheader:#A31818;
$clrnav:#7B0000;
$txtsize:1rem;
$clrtitle: #8B0000;
$clrsmall: #404040;
$sizetitle: 1rem;*/